@model IEnumerable<GuildCars.Models.ViewModels.SpecialVM>
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" style="margin:auto;background-image :url(../../Content/Images/banner.jpg); background-repeat:no-repeat; background-size: 100% 100%" >
    <div class="Container">
        <div id="myNews" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                @{
                    var i = 0;
                    foreach (var s in Model)
                    {
                        if (i == 0)
                        {
                            <li data-target="#myNews" data-slide-to=@i class="active"></li>
                        }
                        else
                        {
                            <li data-target="#myNews" data-slide-to=@i></li>
                        }
                        i = i + 1;
                    }
                }
            </ol>
            <div class="carousel-inner" style="font-weight:bold; font-size:large">
                @{
                    var j = 0;
                    foreach (var s in Model)
                    {
                        if (j == 0)
                        {
                            <div class="item active">
                                <div class="carousel-content">
                                    <p>@Html.ActionLink(@s.Description, "Show", "Special")</p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="item">
                                <div class="carousel-content" >
                                    <p>@Html.ActionLink(@s.Description, "Show", "Special")</p>
                                </div>
                            </div>
                        }
                        j = j + 1;
                    }
                }
            </div>

        </div>
    </div>

</div>

<div class="col-xs-12" id="divResult">

</div>