@model GuildCars.Models.State
@{
    ViewBag.Title = "Delete State";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Delete Make</h3>
        @Html.ActionLink("Return to List", "List", "State")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Delete", "State", FormMethod.Post))
        {
            @Html.HiddenFor(c => c.StateAbbreviation)
            <p>Are you sure that you wish to delete @Html.DisplayFor(c=>c.StateName)?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "List", "State", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>     