@model GuildCars.Models.State

@{
    ViewBag.Title = "Add State";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Add State</h3>
        @Html.ActionLink("Return to List", "List", "State")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Edit", "State", FormMethod.Post))
        {
            <div class="form-group">
                @Html.HiddenFor(m=>m.StateAbbreviation)
                <label>State</label>
                @Html.TextBoxFor(s => s.StateName, new { @class = "form-control", placeholder = "State" })
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
                @Html.ActionLink("Cancel", "List", "State", null, new { @class = "btn btn-sm btn-info" })              
            </div>
        }
    </div>
</div>      